:root{
  --color-primary-a0: #ffffff;
  --color-primary-a5: #d9e6e3;
  --color-primary-a10: #b4cdc8;
  --color-primary-a15: #90b4ae;
  --color-primary-a20: #6c9c94;
  --color-primary-a25: #46847b;
  --color-primary-a30: #186d63;
  --color-primary-a35: #195a52;
  --color-primary-a40: #184842;
  --color-primary-a45: #163732;
  --color-primary-a50: #132724;
  --color-primary-a55: #0d1715;
  --color-primary-a100: #000000;
  --color-primary-a1220: #ffffff;
  --color-primary-a1252: #d9d4e6;
  --color-primary-a110: #b4abcd;
  --color-primary-a115: #8f83b5;
  --color-primary-a120: #6b5d9d;
  --color-primary-a125: #453985;
  --color-primary-a130: #19186d;
  --color-primary-a135: #19165a;
  --color-primary-a140: #181349;
  --color-primary-a145: #161037;
  --color-primary-a150: #140c27;
  --color-primary-a155: #0c0618;
  --color-primary-a1100: #000000;
  
   
}
p{
  color: var(--color-primary-a1100);
}
.call-button {
    background-color: var(--color-primary-a115); 
    color: var(--color-primary-a10);
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background 0.3s ease-in-out;
  }
  
  .call-button:hover {
    background-color: #0de9b9; 
    color: blue;
  }
  
  strong{
    margin: 10px;
  }
  
  .about-title{
    color: #333;
  }


  
  /* about me start */

  .about {
    background-color: rgba(255, 255, 255, 0.9); /* Dark background */
    color: #333; /* White text */
    text-align: center;
    padding: 50px 20px;
  }
  
  .about-title {
    font-family: 'Georgia', serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: auto;
  }
  
  .profile-image {
    width: 150px; /* Adjust image size */
    height: 150px;
    border-radius: 50%; /* Make it circular */
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid #fff; /* White border */
  }
  
  .about-content {
    text-align: left;
    max-width: 600px;
  }
  
  .about-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: var(--color-primary-a1100);
  }
  
  strong {
    font-weight: bold;
  }
  
  /* about me end */